<div class="mt-6 mb-1 uppercase text-textMedium text-13 font-bold">
    Reporter
</div>
<j-button className="btn-secondary"
          nz-dropdown
          [nzTrigger]="'click'"
          [nzDropdownMenu]="menu">
    <j-user [user]="reporter">
    </j-user>
</j-button>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul class="mt-3"
        nz-menu
        nzNoAnimation>
        @for (reporterOption of users; track $index) {
            <li nz-menu-item
                *ngIf="!isUserSelected(reporterOption)">
                <j-user [user]="reporterOption">
                </j-user>
            </li>
        }
    </ul>
</nz-dropdown-menu>